.navbar.static {
  position: static;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  max-width: 100vw; 
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: top 0.8s ease, background-color 0.3s ease;
  z-index: 10;
  overflow-x: hidden; 
}

.navbar.hidden {
  top: -150px;
}

.navbar:hover {
  background-color: white;
}

/* .navbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.navbar-content {
  width: 100%;
  max-width: 100vw; /* Aseguramos que no se pase */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* padding para que no toque los bordes */
  box-sizing: border-box; /* para que padding no genere overflow */
}

/* Dark mode */
.navbar.dark-navbar {
  background-color: #242424 !important;
  padding: 20px;
}

.navbar.dark-navbar:hover {
  background-color: #242424 !important;
}

.navbar.dark-navbar .search-icon,
.navbar.dark-navbar .cart-icon,
.navbar.dark-navbar .nav-links li a {
  color: white;
}

.navbar.dark-navbar:hover .search-icon,
.navbar.dark-navbar:hover .cart-icon,
.navbar.dark-navbar:hover .nav-links li a {
  color: white !important;
}

.navbar.dark-navbar .nav-links li a:hover::after {
  background-color: #ccc;
}

/* logo */
.logo {
  height: 100px;
  object-fit: contain;
}

/* links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

.nav-links li a:hover {
  color: #007bff;
}

/* formulario search */
.search-form {
  display: none;
  position: relative;
}

.search-form.show {
  display: block;
}

.search-input {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
}

/* Icons */
.search-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}

.search-icon.clickable:hover {
  color: #007bff;
}

.search-form-desktop {
  display: none;
}


.search-form-desktop.show-desktop {
  display: inline-block;
}

.search-input-desktop {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
}

.cart-icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.navbar:hover .search-icon,
.navbar:hover .cart-icon {
  color: black;
}

/* desktop icons */
.desktop-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* mobile icons */
.mobile-icons {
  display: none;
  gap: 16px;
  color: #fff;
  z-index: 9999 !important;
}

/* menu hamburguesa */
.menu-icon {
  display: none;
  cursor: pointer;
  z-index: 9999;
}

.close-icon {
  padding-right: 14px !important;
}

.menu-icon-bar,
.close-icon {
  font-size: 30px;
  color: white;
  transition: all 0.3s ease;
}

/* media queris */
@media (max-width: 768px) {
  .navbar-content {
    position: relative;
    justify-content: center;
    padding: 0;
  }

  .logo {
    height: 80px;
    z-index: 99999999 !important;
  }

  .mobile-icons {
    display: flex;
    position: absolute;
    left: 20px;
    top: 25px;
  }

  .menu-icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .nav-links {
    display: none;
  }

  /* este andaba bien son en el inicio, pero en productos se rompia un toque 
  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -75px;
    padding-top: 190px !important;
    left: 0;
    right: 0;
    background-color: #333;
    height: calc(100vh - 120px);
    z-index: 9998;
    align-items: center;
    justify-content: flex-start;
  } */
  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -75px;
    padding-top: 190px !important;
    background-color: #333;
    height: 100%;
    width: 100vw;
    z-index: 10;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-links.open li {
    margin: 12px 0;
  }

  .desktop-icons {
    display: none;
  }

  .search-input {
    width: 100px;
  }

  .navbar:hover {
    background-color: transparent;
  }

  .navbar:hover .search-icon,
  .navbar:hover .cart-icon {
    color: white !important;
  }

  .nav-links a {
    color: #fff;
  }
}

/* desktop */
@media (min-width: 769px) {
  .logo {
    position: static;
    transform: none;
    color: black;
  }

  .menu-icon,
  .mobile-icons {
    display: none !important;
  }

  .nav-links {
    display: flex !important;
  }

  .navbar:hover .nav-links li a {
    color: black;
  }

  .search-form {
    display: none;
  }

  .search-form.show {
    display: inline-block;
    margin-left: 10px;
  }

  .search-form-desktop {
    display: none;
  }

  .search-input {
    width: 200px;
  }

  .search-form-desktop.show-desktop {
    display: inline-block;
  }
}